@using Laboratories.ViewModels
@model IndexModelView


@{
    ViewBag.Title = "Laboratori";
   // Layout = "~/Views/Student/Save.cshtml";
}



@using (Html.BeginForm("Save","Student")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="form-group">
        @Html.LabelFor(model => model.stmodel.Emri, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.stmodel.Emri, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stmodel.Emri, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.stmodel.Mbiemri, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.stmodel.Mbiemri, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stmodel.Mbiemri, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.stmodel.NrPersonal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.stmodel.NrPersonal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stmodel.NrPersonal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.stmodel.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.stmodel.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stmodel.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.stmodel.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.stmodel.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stmodel.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.GrupiId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrupiId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GrupiId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrupiLabId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrupiLabId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GrupiLabId, "", new { @class = "text-danger" })
            </div>
        </div>*@
    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
